<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" routerLink="/">
                <img src="assets/icon-192.png" alt="Bootstrap" width="30" height="24">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="/practice">Practice</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="/hiragana">Hiragana</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="/katakana">Katakana</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <button class="nav-link dropdown-toggle" id="themeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi {{ icons[theme] }}"></i> Theme
                        </button>
                        <ul id="theme-menu" class="dropdown-menu dropdown-menu-end" aria-labelledby="themeDropdown">
                            <li><button class="dropdown-item" [class.active]="theme == 'auto'" (click)="setTheme('auto')"><i class="bi {{ icons.auto }}"></i> Auto</button></li>
                            <li><button class="dropdown-item" [class.active]="theme == 'light'" (click)="setTheme('light')"><i class="bi {{ icons.light }}"></i> Light</button></li>
                            <li><button class="dropdown-item" [class.active]="theme == 'dark'" (click)="setTheme('dark')"><i class="bi {{ icons.dark }}"></i> Dark</button></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/albeva/kana-practice" target="_blank">
                            <i class="bi bi-github"></i> Fork on GitHub
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>
