<header>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" routerLink="/">Kana Practice</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/practice">Practice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/hiragana">Hiragana</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/katakana">Katakana</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>
