<div class="container py-5">
    <div class="text-center">
        <h1>Practice reading Kana</h1>
        <p class="lead text-muted">
            Choose from options below what do you wish to practice
        </p>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card card-block">
                <div class="card-body text-center">
                    <form (ngSubmit)="submit()">
                        <div>
                            <h5 class="card-title">Practice</h5>
                            <div class="btn-group" role="group" >
                                <button
                                    type="button"
                                    class="btn btn-outline-dark no-hover"
                                    [class.active]="state.kana"
                                    (click)="toggle('kana')">Kana</button>
                                <button
                                    type="button"
                                    class="btn btn-outline-dark no-hover"
                                    [class.active]="state.words"
                                    (click)="toggle('words')">Words</button>
                            </div>
                        </div>

                        <div class="mt-3">
                            <h5 class="card-title">Read</h5>
                            <div class="btn-group" role="group">
                                <button
                                    type="button"
                                    class="btn btn-outline-dark no-hover"
                                    [class.active]="state.hiragana"
                                    (click)="toggle('hiragana')">ひらがな</button>
                               <button
                                    type="button"
                                    class="btn btn-outline-dark no-hover"
                                    [class.active]="state.katakana"
                                    (click)="toggle('katakana')">カタカナ</button>
                            </div>
                        </div>

                        <div class="mt-4">
                            <button
                                type="submit"
                                class="btn btn-primary"
                                [disabled]="!isValid()">Practice!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
